{% extends "base.html" %}

{% block content %}
<h2>Cadastro</h2>
<form action="{{ url_for('register') }}" method="post">
    <label for="username">Nome de usuário:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="theme">Escolha um tema:</label>
    <select id="theme" name="theme">
        <option value="light">Claro</option>
        <option value="dark">Escuro</option>
    </select>
    <br>
    <input type="submit" value="Cadastrar">
</form>
{% endblock %}
